.bannerImage{
    margin: 0px;
}

.mid-desc-image {
    width: 25%
}

.desc-image {
    width: 50%;
    border-radius: 50px;
}

.desc-text h2 {
    color:rgb(0, 0, 0);
    padding-left: 75vh;
    font-family: 'BIZ UDMincho', serif;
    text-shadow: 1px 2px 2px  #f9f9f9a1;
    font-size: 20px;
    font-weight:800;
}
h3, .specOps{
    font-family: 'BIZ UDMincho', serif;
    width: 100%;
    font-weight: 800

   
}
.desc-position{
    float:right;
    
}

.center-in-container {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-img {
    position: relative;
    text-align: center;
  
  }
  .text-center_text-white{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 40vh;
  }
  
  .display-4_text-center{
    font-size: 50px;
    text-shadow: 2px 2px 3px  #000000a1;
  }
  .lead_text-center{
    font-size: 30px;
    text-shadow: 1px 2px 3px  #222222;
  }
 